* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--peach);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --red: #d14f37;
    --orange: #df8334;
    --yellow: #ebc00b;
    --darkeryellow: #d7ac00;
    --green: #509443;
    --darkergreen: #448038;
    --indigo: #4861af;
    --blue: #5c94cc;
    --purple: #b54abb;
    --peach: #f1dbad;

    --darkred: #b73214;
    --darkorange: #ca6528;
    --darkyellow: #b79509;
    --darkgreen: #2d5426;
    --darkindigo: #2f3f72;
    --darkblue: #446fb3;
    --darkpurple: #58245b;
    --darkpeach: #f2d191;

    --white: #ffffff;
    --black: #000000;
    --brown: #59271A;
}

/*Navigation Bar*/

nav {
    top: 20px;
    left: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 5px 0 5px 7px;
    background: var(--red);
    border-radius: 1.5rem;
    transform: translateX(-50%);
    z-index: 100;
}

.left-content {
    display: flex;
    align-items: center;
}

.left-content img {
    width: 40px;
    padding-right: 7px;
}

.left-content a,
.middle-content a {
    color: var(--peach);
    text-decoration: none;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content a {
    margin-right: 15px;
    display: flex;
    color: var(--peach);
    text-decoration: none;
    transition: all ease 0.3s;
}

.right-content a:hover {
    color: var(--white);
}

.dropdown {
    flex-direction: column;
}

.dropdown,
.sub-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
}

.dropdown-button {
    display: flex;
    z-index: 75;
}

.dropdown:hover .dropdown-list {
    display: block;
}

.drop-icon {
    transform: rotate(0deg);
    transition: all ease-out 0.3s
}

.dropdown:hover .drop-icon {
    transform: rotate(180deg);
}

.dropdown-list {
    position: absolute;
    width: 124px;
    padding-top: 37px;
    display: none;
    background-color: transparent;
    transition: all ease 0.3s;
    z-index: 100;
}

.dropdown-list a {
    padding: 15px 20px 15px 10px;
    display: block;
    background-color: var(--green);
    color: var(--peach);
}

.dropdown-list .last {
    z-index: 75;
}

.dropdown-list .last,
.sub-dropdown-list .last {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dropdown-list a:hover {
    color: var(--white);
}

.sub-dropdown-button {
    width: 125px;
    z-index: 75;
}

.sub-dropdown-list {
    position: absolute;
    top: 0.1px;
    width: max-content;
    margin-left: 109px;
    padding: 0;
    display: none;
    border-radius: 1.5rem;
    transition: all ease 0.3s;
    z-index: 1;
}

.sub-dropdown-list a {
    background-color: var(--darkeryellow);
}

.sub-dropdown:hover .sub-dropdown-list {
    display: block;
}

.sub-dropdown-button {
    display: flex;
    align-items: center;
}

.sub-drop-icon {
    display: inline-block;
    transform: rotate(270deg);
    transition: all ease-out 0.3s
}

.sub-dropdown:hover .sub-drop-icon {
    transform: rotate(90deg);
}

.nav-report {
    padding: 4px 10px;
    display: flex;
    background-color: var(--yellow);
    border-radius: 1.5rem;
}

.nav-report p {
    font-weight: 700;
    color: var(--darkergreen);
    transition: all ease 0.3s;
}

.nav-report:hover p {
    color: var(--green)
}

.nav-report i {
    margin-left: 10px;
    color: var(--darkergreen);
    transform: translateY(2px);
    transition: all ease 0.3s;
}

.nav-report:hover i {
    color: var(--green)
}

.open-menu,
.close-menu {
    position: absolute;
}

.open-menu a,
.close-menu a {
    color: var(--yellow);
    cursor: pointer;
    font-size: 1.5rem;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

@media (min-width: 821px) {
    nav {
        width: max-content;
        justify-content: space-between;
    }

    .left-content {
        padding-right: 35px;
    }

    .middle-content {
        display: none;
    }

    .open-menu,
    .close-menu {
        display: none;
    }

    aside {
        display: none;
    }
}

@media (max-width: 820px) {

    nav {
        width: 900px;
        max-width: 70vw;
    }

    .left-content h3,
    .right-content {
        display: none;
    }

    .middle-content {
        width: calc(100% - 100px);
        text-align: center;
    }

    aside {
        top: 0;
        right: -250px;
        width: 240px;
        height: 100vh;
        position: fixed;
        background-color: var(--green);
        list-style: none;
        transition: right ease-in-out 0.3s;
        z-index: 200;
    }

    aside .content {
        margin-top: 70px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    aside .content a {
        margin-bottom: 15px;
        color: var(--peach);
        text-decoration: none;
    }

    aside .content a:hover {
        color: var(--white);
    }

    .close-menu {
        padding-top: 3px;
        padding-right: 3px;
    }
}

/*Go to Report*/

.report {
    position: fixed;
    top: auto;
    bottom: 30px;
    left: auto;
    right: 30px;
    width: max-content;
    padding: 5px 0 5px 15px;
    display: flex;
    align-items: center;
    background: var(--yellow);
    border: 10px solid var(--green);
    border-radius: 1.5rem;
    box-shadow: 0 10px 50px var(--black);
    transition: all ease 0.3s;
    z-index: 100;
}

.report:hover {
    transform: translateX(5px) translateY(-5px);
}

.report-content {
    display: flex;
    align-items: center;
}

.report-content a {
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--brown);
}

.report:hover a {
    color: var(--darkgreen);
}

.report-content a h3 {
    padding-right: 15px;
    transition: all ease-out 0.3s;
}

.report-content a i {
    padding-right: 15px;
    font-size: large;
    transform: translateY(-1px);
}

/*Home-Slider*/

.main-slider {
    margin-left: auto;
    margin-right: auto;
    padding: 110px 0 42.5px 0;
    width: 1100px;
    max-width: 90vw;
    height: 240px;
}

.slider-wrapper {
    position: relative;
}

.slider {
    height: 240px;
    display: flex;
    border-radius: 1.5rem;
    box-shadow: 0 10px 50px var(--black);
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    left: 50%;
    display: flex;
    column-gap: 15px;
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
}

.slider-nav a {
    font-size: xx-large;
    color: var(--white);
    text-decoration: none;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/*Home-Slogan*/

.main-slogan {
    padding-top: 30px;
    padding-bottom: 40px;
    justify-items: center;
    background-color: var(--yellow);
}

.slogan {
    width: 90vw;
    text-align: center;
    line-height: 75px;
    font-size: 325%;
    color: var(--brown)
}

.slogan .fa-solid.fa-quote-left,
.slogan .fa-solid.fa-quote-right {
    color: var(--red)
}

/*Home-Reviews*/

.main-reviews {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: var(--blue);
    justify-items: center;
}

.reviews-title {
    background-color: var(--green);
    padding: 12px 20px 12px 20px;
    font-size: larger;
    color: var(--yellow);
    border-radius: 1.5rem;
    margin-bottom: 10px;
}

.reviews-wrapper {
    width: 500px;
    max-width: 60vw;
    position: relative;
}

.reviews {
    width: 500px;
    max-width: 60vw;
    height: max-content;
    display: flex;
    background-color: var(--peach);
    border: solid 5px var(--green);
    border-radius: 1.5rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.reviews::-webkit-scrollbar {
    display: none;
}

.review {
    max-width: 45vw;
    padding: 25px;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.review-address {
    padding-bottom: 10px;
}

.stars {
    font-size: smaller;
    color: var(--yellow)
}

.review-content {
    max-width: max-content;
    font-size: small;
}

.review-content i.fa-solid.fa-quote-left {
    color: var(--red);
    transform: translateY(10px);
}

.review-content i.fa-solid.fa-quote-right {
    display: flex;
    flex-direction: row-reverse;
    color: var(--red);
    transform: translateY(-10px);
}

.review-content p {
    margin: 0 20px 0 20px;
}

.reviews-nav {
    left: 50%;
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 15px;
    transform: translateX(-50%);
}

.reviews-nav a {
    font-size: xx-large;
    color: var(--white);
    text-decoration: none;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.reviews-nav a:hover {
    opacity: 1;
}

/*Home-Time and Location*/

.loc-title {
    margin-bottom: 20px;
    justify-items: center;
}

.loc-title h3 {
    font-size: xx-large;
    color: var(--red);
}

.loc-title-underline {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 55vw;
    border: 2px solid var(--yellow);
}

.loc-title p {
    color: var(--brown);
}

iframe.loc {
    border: 0;
    width: 100%;
    height: 270px;
}

.loc-desc {
    margin: 20px 20px 50px 20px;
    display: flex;
    color: var(--brown);
    justify-content: center;
}

.time,
.location {
    padding: 12px;
    width: 35vw;
    align-content: center;
    border-radius: 1.5rem;
    background-color: var(--yellow);
    text-align: center;
}

.time {
    margin-right: 30px
}

.location {
    margin-left: 30px;
}

.loc-line {
    border: 2px solid var(--red);
}

/*Home-Continue to Catalog*/

.main-continue {
    padding: 25px 0 70px 0;
    justify-items: center;
    background-color: var(--green);
}

.continue-title {
    margin-bottom: 65px;
    text-align: center;
    font-size: xx-large;
    font-weight: 5000;
    color: var(--peach);
}

.continue-button {
    background-color: var(--yellow);
    border: 15px solid var(--orange);
    border-radius: 5rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--brown);
    transition: ease 0.3s;
}

.continue-button svg {
    margin: 0 -15px -5px 0;
    fill: var(--brown);
    transform: rotate(-90deg);
    transition: ease-out 0.75s;
}

.continue-button:hover {
    margin-left: 30px;
    box-shadow: 0 3px 15px 5px var(--darkgreen);
    transition: ease 0.3s;
}

.continue-button:hover svg {
    transform: rotate(270deg);
}

@media (min-width: 400px) {
    .continue-button {
        padding: 24px 40px;
        font-size: x-large;
    }
}

@media (max-width: 400px) {
    .continue-button {
        padding: 20px 32px;
        font-size: large;
    }
}

/*Catalog*/

.catalog-container {
    margin: 89px 15px 20px 15px;
}

.catalog-title,
.catalog-links.row-3-title {
    justify-items: center;
    text-align: center;
    font-weight: lighter;
    color: var(--brown);
}

.catalog-title-head {
    font-size: 50px;
}

.catalog-title-body {
    line-height: 10px;
}

.catalog-links.row-3-title-head {
    margin-top: 20px;
    font-size: 40px;
}

.catalog-title-underline,
.catalog-links.row-3-title-underline {
    margin: 10px 0 20px 0;
    border: 2px solid var(--yellow);
}

.catalog-title-underline {
    width: 650px;
    max-width: 80vw;
}

.catalog-links.row-3-title-underline {
    width: 300px;
    max-width: 70vw;
}

.catalog-links.row-1,
.catalog-links.row-2,
.catalog-links.row-3 {
    display: flex;
}

.food,
.jamu,
.product {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    color: var(--peach);
}

.food {
    background-color: var(--darkergreen);
}

.jamu {
    background-color: var(--red);
}

.product {
    background-color: var(--darkblue);
}

.food-link .catalog-img,
.product-link .catalog-img {
    position: relative;
    height: 50px;
}

.catalog-links.row-3 .food-link .catalog-img {
    margin: 0;
}

.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 40px);
    height: 250%;
    object-fit: cover;
    border-radius: 1.5rem;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    z-index: 0;
}

.fg {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100px;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.line-column.roti {
    max-width: 200px;
}

.food-link .food-pop-up,
.product-link .product-pop-up {
    padding: 15px;
    display: inline-block;
    background-color: var(--peach);
    text-decoration: none;
}

.food-pop-up,
.product-pop-up {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: ease-out 0.2s;
    z-index: 1000;
}

.food-pop-up:target,
.product-pop-up:target {
    visibility: visible;
    opacity: 1;
}

.food-content {
    background: var(--yellow);
    color: var(--brown);
}

.product-content {
    background: var(--green);
    color: var(--white);
}

.food-content,
.product-content {
    position: relative;
    margin-top: 80px;
    padding: 15px 25px;
    width: 500px;
    max-width: 80vw;
    height: 70vh;
    border-radius: 15px;
    overflow-y: scroll;
}

.deskripsi {
    margin-top: 20px;
    width: 99.99%;
    border-radius: 1.5rem;
}

.procedure .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.procedure .video h3 {
    margin-bottom: 15px;
}

.procedure video {
    width: 75%;
    height: auto;
    border-radius: 1.5rem;
}

.procedure {
    margin: 25px 0 0;
    padding: 15px;
    background-color: var(--yellow);
    border-radius: 1.5rem;
}

.procedure h1 {
    justify-self: center;
    background-color: var(--red);
    padding: 15px;
    border-radius: 1.5rem;
}

.procedure ol {
    padding-top: 10px;
}

.food-content::-webkit-scrollbar,
.product-content::-webkit-scrollbar {
    width: 10px;
}

.food-content::-webkit-scrollbar-track,
.product-content::-webkit-scrollbar-track {
    margin: 50px 0 7.5px 0;
    background: none;
}

.food-content::-webkit-scrollbar-thumb,
.product-content::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 1.5rem;
}

.food-content::-webkit-scrollbar-thumb:hover,
.product-content::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.food-close {
    color: var(--brown);
}

.product-close {
    color: var(--white);
}

.food-close,
.product-close {
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

.food-continue,
.product-continue {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.food-continue a {
    padding: 5px 5px 5px 15px;
}

.product-continue a {
    padding: 5px 15px 5px 5px;
}

.food-continue a,
.product-continue a {
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 5rem;
    text-decoration: none;
    color: var(--brown);
    transition: ease 0.3s;
}

.food-continue a svg {
    margin-left: 2.5px;
    transform: rotate(-90deg);
}

.product-continue a svg {
    margin-right: 2.5px;
    transform: rotate(90deg);
}

.food-continue a svg,
.product-continue a svg {
    fill: var(--brown);
    transition: ease-out 0.75s;
}

.food-continue a:hover {
    margin-left: 15px;
}

.product-continue a:hover {
    margin-right: 15px;
}

.food-continue a:hover,
.product-continue a:hover {
    box-shadow: 0 3px 15px 0 var(--brown);
    transition: ease 0.3s;
}

@media (min-width: 1225px) {

    .catalog-links.row-1,
    .catalog-links.row-2,
    .catalog-links.row-3 {
        margin-bottom: 20px;
        justify-self: center;
        gap: 20px;
    }

    .food,
    .product {
        padding-bottom: 15px;
        flex-direction: column;
        justify-content: space-between;
    }

    .food {
        width: 27vw;
        height: 195px;
        padding-bottom: 20px;
    }

    .jamu {
        width: 20vw;
        height: 160px;
        padding-right: 15px;
    }

    .product {
        width: 23vw;
        height: 195px;
        padding-bottom: 25px;
    }

    .food-link .catalog-img,
    .product-link .catalog-img {
        margin-top: 60px;
    }

    .food .catalog-img {
        width: 27vw;
    }

    .jamu .catalog-img {
        width: 20vw;
    }

    .product .catalog-img {
        width: 23vw;
    }
}

@media (max-width: 1225px) {
    .catalog-container {
        margin-bottom: 0;
    }

    .catalog-links.row-1,
    .catalog-links.row-2,
    .catalog-links.row-3 {
        flex-direction: column;
        align-items: center;
    }

    .food,
    .jamu,
    .product {
        margin-bottom: 20px;
        width: 750px;
        flex-direction: column;
    }

    .food,
    .product {
        max-width: 90vw;
        height: 200px;
    }

    .jamu {
        max-width: 70vw;
        height: 200px;
    }

    .catalog-img {
        width: 750px;
    }

    .food .catalog-img,
    .product .catalog-img {
        max-width: 90vw;
    }

    .jamu .catalog-img {
        max-width: 70vw;
    }

    .catalog-img.roti {
        transform: translateY(0px);
    }

    .line-column {
        transform: translateY(50px);
    }
}

/*Pre-Order*/

.po-container {
    margin: 89px 15px 20px 15px;
    justify-items: center;
}

.po-title {
    justify-items: center;
    text-align: center;
    font-weight: lighter;
    color: var(--brown);
}

.po-title-head {
    font-size: 50px;
}

.po-title-sub-body {
    font-size: 25px;
}

.po-title-underline {
    margin: 10px 0 20px 0;
    width: 650px;
    max-width: 80vw;
    border: 2px solid var(--yellow);
}

.po {
    padding: 15px 15px 0 15px;
    justify-items: center;
    background-color: var(--white);
    border-radius: 1.5rem;
    cursor: pointer;
}

.po-frame {
    width: 800px;
    max-width: 80vw;
    border: none;
    border-radius: 1.5rem;
}

@media (min-width: 831px) {
    .po-frame {
        height: 465px;
    }
}

@media (max-width: 830px) {
    .po-frame {
        height: 495px;
    }
}

@media (max-width: 522px) {
    .po-frame {
        height: 500px;
    }
}

@media (max-width: 502px) {
    .po-frame {
        height: 520px;
    }
}

@media (max-width: 416px) {
    .po-frame {
        height: 540px;
    }
}

.po-link a {
    width: 780px;
    max-width: 80vw;
    padding: 12px 0 20px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 1.5rem;
}

.po-link:hover .po-link-left p {
    color: var(--green)
}

.po-link:hover .po-link-right i {
    color: var(--green)
}

.po-link-left {
    display: flex;
}

.po-link-left img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    transform: translateY(2px);
}

.po-link-left p {
    text-decoration: underline var(--white);
    font-size: 20px;
    color: var(--brown);
    transition: all ease 0.3s;
}

.po-link-right i {
    font-size: 20px;
    color: var(--brown);
    transform: translateY(4px);
    transition: all ease 0.3s;
}

/*Financials*/

.financial-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.financial-contents {
    width: 600vw;
    display: flex;
    background-color: var(--blue);
    transition: transform 0.5s ease;
}

.financial-title p {
    margin: 100px 0 30px 0;
    justify-self: center;
    padding: 0 20px 0 20px;
    background-color: var(--yellow);
    border: 15px solid var(--orange);
    border-radius: 1.5rem;
    font-weight: 800;
    color: var(--green);
}

.financial {
    width: 100%;
    height: max-content;
    display: block;
}

.financial .title p {
    margin: 40px 10px 0 0;
    justify-self: center;
    background-color: var(--darkergreen);
    padding: 10px 20px;
    border-radius: 1.5rem;
    font-weight: 100;
    color: var(--peach);
}

.data-p {
    margin: 25px 0 20px 35px;
    width: 65vw;
    line-height: 0;
    color: var(--peach);
}

.chart-p {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    color: var(--yellow);
}

.financial .content .data iframe {
    width: 65vw;
    height: 400px;
    border: none;
    border-radius: 1.5rem;
}

.charts {
    margin-left: 25px;
}

.chart {
    margin-bottom: 10px;
    display: flex;
    text-decoration: none;
    font-weight: 500;
    color: var(--peach);
}

.chart i {
    margin-left: 5px;
    transform: translateY(2px);
}

.chart-list {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: var(--green);
    border-radius: 0.25rem;
    transform: translateY(5px);
}

table {
    margin-top: 20px;
    justify-self: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--red);
    color: var(--yellow);
}

td {
    background-color: var(--peach);
    color: var(--brown);
}

.line-chart-link .chart-pop-up,
.bar-chart-link .chart-pop-up,
.pie-chart-link .chart-pop-up {
    padding: 15px;
    display: inline-block;
    background-color: var(--peach);
    text-decoration: none;
}

.chart-pop-up {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: ease-out 0.2s;
    z-index: 1000;
}

.chart-pop-up:target {
    visibility: visible;
    opacity: 1;
}

.chart-content {
    position: relative;
    margin-top: 80px;
    padding: 15px 25px;
    width: 750px;
    max-width: 79vw;
    height: 70vh;
    background: var(--yellow);
    border-radius: 15px;
    color: var(--brown);
    overflow-y: scroll;
}

.chart-content::-webkit-scrollbar {
    width: 10px;
}

.chart-content::-webkit-scrollbar-track {
    margin: 50px 0 7.5px 0;
    background: none;
}

.chart-content::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 1.5rem;
}

.chart-content::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.chart-container {
    margin: 20px 0 20px;
    width: 80%;
    max-height: 90%;
    justify-self: center;
    justify-items: center;
}

.chart-close {
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--brown);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    background: var(--yellow);
    border: none;
    border-radius: 0.5rem;
    font-size: 50px;
    color: var(--green);
    cursor: pointer;
    transform: translateY(-50%);
}

.prev {
    padding: 2px 5px 0 7.5px;
}

.next {
    padding: 2px 7.5px 0 5px;
}

.hidden {
    display: none;
}

@media (min-width: 1075px) {
    .financial .content {
        display: flex;
        justify-content: center;
    }

    .financial .content .data iframe {
        margin-bottom: 50px;
    }

    .chart-p {
        margin-top: 60px;
    }

    .prev {
        left: 25px;
    }

    .next {
        right: 25px
    }
}

@media (max-width: 1075px) {
    .data {
        justify-items: center;
    }

    .chart-p {
        margin-top: 15px;
    }

    .charts {
        margin-bottom: 40px;
        width: 65vw;
        justify-self: center;
    }

    .prev {
        left: 25px;
    }

    .next {
        right: 25px
    }
}

@media (max-width: 560px) {
    .prev {
        left: 15px;
    }

    .next {
        right: 15px
    }
}

@media (min-width: 775px) {
    .financial-title p {
        font-size: 75px;
    }

    .financial .title p {
        font-size: 35px;
    }
}

@media (max-width: 775px) {
    .financial-title p {
        font-size: 50px;
    }

    .financial .title p {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .financial-title p {
        font-size: 40px;
    }

    .financial .title p {
        font-size: 20px;
    }

    .prev {
        left: 10px;
        font-size: 35px;
    }

    .next {
        right: 10px;
        font-size: 35px;
    }
}

/*Donation*/

.donation-img {
    width: 100%;
    height: 225px;
    background-image: url(sistine\ chapel.jpg);
    background-size: cover;
    background-position: center;
}

.donation-title {
    padding: 20px 0 20px 0;
    background-color: var(--green);
    text-align: center;
    font-size: 50px;
    color: var(--peach);
}

.cita,
.donasi {
    margin: 15px;
    padding: 1px 5px 1px 5px;
    background-color: var(--yellow);
    border-radius: 1.5rem;
    color: var(--brown);
}

.pengantar-donasi {
    margin: 15px;
    color: var(--brown);
}

.kitab-background,
.konkret-background {
    background-image: url(sistine\ chapel.jpg);
    background-size: cover;
    background-position: center;
}

.kitab {
    margin-bottom: 15px;
}

.konkret,
.kitab {
    padding: 15px 20px;
    width: 60%;
}

.konkret {
    justify-self: end;
    background-color: var(--blue);
}

.kitab {
    background-color: var(--orange);
}

.konkret h1,
.kitab h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: xx-large;
    color: var(--peach);
}

.lembaran-slider-container {
    position: relative;
    width: 60vw;
    overflow: hidden;
}

.lembaran {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#konkret .lembaran {
    width: 300vw;
}

#kitab .lembaran {
    width: 180vw;
}

.lembar {
    width: 100%;
    min-width: 60vw;
    align-self: center;
}

.konkret .lembaran .lembar h3 {
    padding: 0 50px 0 50px;
    text-align: end;
    color: var(--brown);
}

#konkret .lembaran .lembar p,
#kitab .lembaran .lembar p {
    padding: 0 50px 0 50px;
    text-align: justify;
    color: var(--brown);
}

#konkret .lembaran .lembar p {
    text-align-last: right;
}

#prevBtn2,
#nextBtn2 {
    top: 60%
}

#prevBtn1,
#prevBtn2 {
    left: 0;
}

#nextBtn1,
#nextBtn2 {
    right: 0;
}

.hidden {
    display: none;
}

@media (max-width: 400px) {
    .donation-title {
        font-size: 40px;
    }
}

/*About Us-Who we Are*/

.who-we-are {
    padding: 90px 20px 20px 20px;
    align-items: center;
    background-color: var(--orange);
    color: var(--peach);
}

.who-we-are-content h1 {
    margin-bottom: 15px;
}

.who-we-are-content p {
    text-align: justify;
}

.who-we-are-img {
    margin-top: 20px;
    width: 595px;
    max-width: 85vw;
    height: 200px;
    justify-self: center;
    background-color: var(--white);
}

@media (min-width: 675px) {
    .who-we-are {
        display: flex;
    }

    .who-we-are-img {
        margin-top: 0;
        margin-left: 20px;
        width: 1250px;
        height: 200px;
    }
}

/*About Us-Members*/

.members {
    padding: 30px 0 50px 0;
    background-color: var(--yellow);
}

.members-title {
    width: max-content;
    margin-bottom: 30px;
    justify-self: center;
    padding: 12px 20px;
    background-color: var(--blue);
    border: 10px solid var(--darkindigo);
    border-radius: 1.5rem;
    font-size: 30px;
    color: var(--peach);
}

.members-content {
    justify-items: center;
}

.members-content-row1,
.members-content-row2 {
    display: flex;
    gap: 20px;
}

.member {
    width: 185px;
    height: 225px;
    justify-items: center;
    overflow: hidden;
    background-color: var(--darkergreen);
    border-radius: 1.5rem;
    color: var(--peach);
    transition: all ease-out 0.3s;
}

.member:hover {
    height: 275px;
    transform: translateY(-17.5px);
}

.member img {
    margin: 17.5px 0 20px 0;
    width: 150px;
    height: 150px;
    background-color: var(--white);
    border-radius: 1.5rem;
}

.member p {
    display: none;
    transition: all ease 0.3s;
}

.member a {
    display: none;
    font-size: small;
    color: var(--peach);
    transition: all ease 0.3s;
}

.member a:hover {
    color: var(--white);
}

.member:hover p {
    display: block;
    margin-bottom: 5px;
}

.member:hover a {
    display: block;
}

@media (min-width: 1245px) {
    .members-content {
        display: flex;
        height: 275px;
        justify-content: center;
        gap: 20px;
    }

    .members-content-row1,
    .members-content-row2 {
        flex-direction: row;
    }
}

@media (max-width: 1245px) {
    .members-content {
        height: 500px;
    }

    .members-content-row1 {
        margin-bottom: 20px;
    }
}

@media (max-width: 645px) {
    .members-content {
        height: 1825px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .members-content-row1 {
        margin-bottom: 20px;
    }

    .members-content-row1,
    .members-content-row2 {
        flex-direction: column;
    }

    .member {
        width: 275px;
        max-width: 70vw;
        height: 285px;
    }

    .member:hover {
        height: 320px;
    }

    .member img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 455px) {
    .members-title {
        font-size: 20px;
    }
}

/*About Us-Presentation*/

.presentation {
    background-color: var(--darkpurple);
}

.presentation-wrapper {
    position: relative;
    margin-inline: auto;
    height: 75px;
    width: 100%;
    overflow: hidden;
    background-color: var(--purple);
}

@keyframes scrollleft {
    to {
        left: -500px;
    }
}

.presentation-item {
    position: absolute;
    left: max(calc(422px * 3), 100%);
    width: 500px;
    height: 62.5px;
    font-size: 35px;
    color: var(--peach);
    animation-name: scrollleft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: -10s;
}

.item2 {
    animation-delay: -6.75s;
}

.item3 {
    animation-delay: -3.5s;
}

.presentation-content {
    position: relative;
    left: 50%;
    margin-top: 30px;
    width: max-content;
    padding-top: 250px;
    background-color: var(--white);
    border-top: 30px solid var(--white);
    border-radius: 1.5rem;
    transform: translateX(-50%);
}

.presentation-content iframe {
    position: absolute;
    top: 0;
    left: 50%;
    width: 625px;
    max-width: 60vw;
    height: 80%;
    border: none;
    border-radius: 1.5rem;
    transform: translateX(-50%);
}

.presentation-content p {
    margin-bottom: 30px;
    width: 700px;
    max-width: 70vw;
    padding-bottom: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: var(--yellow);
}

@media (max-width: 675px) {
    .presentation-content p {
        font-size: 30px;
    }
}

@media (max-width: 420px) {
    .presentation-content p {
        font-size: 25px;
    }
}

/*About Us-Pendahuluan*/

.abstract {
    padding: 50px 0 50px 0;
    background-color: var(--darkergreen);
}

.abstract h1 {
    justify-self: center;
    font-size: 30px;
    color: var(--yellow);
}

.abstract-title-underline {
    margin: 15px 0 20px 0;
    width: 400px;
    max-width: 40vw;
    height: 5px;
    justify-self: center;
    background-color: var(--yellow);
}

.abstract p {
    margin: 0 15px 0 15px;
    background-color: var(--yellow);
    padding: 12px;
    border: 10px solid var(--orange);
    border-radius: 1.5rem;
    text-align: justify;
    color: var(--brown);
}

.pendahuluan {
    padding: 30px 15px 75px 15px;
    background-color: var(--blue);
}

.pendahuluan h1 {
    justify-self: center;
    font-size: 30px;
    color: var(--peach);
    margin-bottom: 15px;
}

.pendahuluan p {
    text-align: justify;
    color: var(--peach);
}

.pendahuluan-content-underline1 {
    width: 700px;
    max-width: 70vw;
}

.pendahuluan-content-underline2 {
    width: 500px;
    max-width: 50vw;
}

.pendahuluan-content-underline1,
.pendahuluan-content-underline2 {
    margin-top: 35px;
    justify-self: center;
    height: 5px;
    background-color: var(--yellow);
}

.latar-belakang {
    margin-top: 50px;
    padding-top: 30px;
    background-color: var(--yellow);
    border-radius: 1.5rem;
}

.latar-belakang h3 {
    margin-bottom: 30px;
    justify-self: center;
    background-color: var(--darkergreen);
    padding: 10px 25px;
    border-radius: 1.5rem;
    font-size: 30px;
    color: var(--peach);
}

.latar-belakang p {
    padding: 0 20px 30px 20px;
    color: var(--brown);
}

.tujuan-manfaat {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    color: var(--peach);
}

.tujuan,
.manfaat {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--orange);
    border-radius: 1.5rem;
}

.tujuan p,
.manfaat p {
    margin-bottom: 5px;
}

.tujuan ul,
.manfaat ul {
    margin: 0 0 5px 10px;
}

.tujuan li,
.manfaat li {
    margin-left: 20px;
}

@media (max-width: 774px) {
    .tujuan-manfaat {
        display: block;
    }

    .manfaat {
        margin-top: 10px;
    }
}

/*About Us - Rencana Kegiatan*/

.rencana {
    width: 100%;
    height: 100%;
    display: block;
    padding: 25px 0 30px 0;
    background-color: var(--darkergreen);
}

.rencana-title {
    margin-bottom: 10px;
    justify-self: center;
    padding: 0 20px;
    background-color: var(--blue);
    border: 10px solid var(--darkblue);
    border-radius: 1.5rem;
    font-size: 30px;
    font-weight: 800;
    color: var(--yellow);
}

.rencana-pengantar {
    margin: 15px 30px;
    color: var(--peach);
}

.rencana-indicators {
    margin: 20px 10px 0;
    display: flex;
    justify-content: space-around;
}

.indicator {
    align-content: center;
    background-color: var(--darkblue);
    padding: 8px 16px;
    border-radius: 1rem;
    font-size: 20px;
    font-weight: 700;
    color: var(--yellow);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.indicator.active {
    background-color: var(--yellow);
    padding: 8px 11px;
    border: 5px solid var(--indigo);
    color: var(--darkergreen);
}

.rencana-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.rencana-contents {
    display: flex;
    width: 300%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.rencana-slide {
    flex: 0 0 100%;
}

.rencana-content {
    margin: 0 20px;
    height: 400px;
    overflow-y: scroll;
    background-color: var(--yellow);
    border-radius: 1.5rem;
    text-align: justify;
    color: var(--brown);
}

.rencana-content::-webkit-scrollbar {
    width: 10px;
}

.rencana-content::-webkit-scrollbar-track {
    margin: 15px 0 15px 0;
    background: none;
}

.rencana-content::-webkit-scrollbar-thumb {
    background: var(--darkblue);
    border-radius: 1.5rem;
}

.rencana-content::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.rencana-slide.produksi .rencana-content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 75px 15px 20px;
    box-sizing: border-box;
}

.rencana-slide.promosi .rencana-content {
    padding: 15px 75px;
}

.rencana-slide.booth .rencana-content {
    padding: 15px 20px 15px 75px;
}

.produksi-aside {
    position: fixed;
    top: 15px;
    left: 35px;
    z-index: 10;

    min-width: 100px;
    max-width: 300px;
    height: 370px;
    display: flex;
    flex: 0 0 250px;
    flex-direction: column;
    justify-content: space-between;
}

.produksi-aside button {
    width: 200px;
    height: 80px;
    background-color: var(--darkblue);
    padding: 10px;
    border: none;
    border-radius: 1.5rem;
    font-size: large;
    font-weight: bold;
    color: var(--yellow);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.produksi-aside button:hover {
    background-color: var(--darkblue);
}

.panel {
    margin-left: 210px;
    min-width: 0;
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: var(--peach);
    padding: 20px;
    border-radius: 1.5rem;
}

.panel img {
    margin: -10px 0 10px;
    width: auto;
    max-height: 150px;
}

.image-background {
    margin-bottom: 15px;
    background-image: url('Background\ Foto\ Produk.png');
    background-size: cover;
    padding: 20px 125px 0;
    border-radius: 1.5rem;
    display: inline-block;
}

.image-background img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
}

.panel-text {
    margin-bottom: 20px;
}

.rencana-prosedur {
    padding: 5px 0 0 30px;
}

.rencana-prev,
.rencana-next {
    position: absolute;
    top: 50%;
    background: var(--darkergreen);
    border: none;
    border-radius: 0.5rem;
    font-size: 50px;
    color: var(--darkindigo);
    cursor: pointer;
    transform: translateY(-50%);
}

.rencana-prev {
    left: 40px;
    padding: 2px 5px 0 7.5px;
}

.rencana-next {
    right: 40px;
    padding: 2px 7.5px 0 5px;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .rencana-content {
        flex-direction: column;
        height: auto;
    }

    .produksi-aside {
        flex-direction: row;
        overflow-x: auto;
    }

    .panel img {
        max-width: 100%;
    }
}

/*About Us-Hasil Kegiatan*/

.hasil-kegiatan {
    overflow: hidden;
    background-color: var(--orange);
    padding: 30px 20px 75px;
}

.hasil-title {
    justify-self: center;
    background-color: var(--yellow);
    padding: 10px 25px;
    border-radius: 1.5rem;
    font-size: 30px;
    color: var(--brown);
}

.laporan-pelaksanaan {
    padding: 30px 15px 75px 15px;
}

.laporan-pelaksanaan h1 {
    justify-self: center;
    font-size: 30px;
    color: var(--peach);
    margin-bottom: 15px;
}

.laporan-pelaksanaan p {
    text-align: justify;
    color: var(--peach);
}

.laporan-pelaksanaan-content-underline1 {
    width: 700px;
    max-width: 70vw;
}

.laporan-pelaksanaan-content-underline2 {
    width: 500px;
    max-width: 50vw;
}

.laporan-pelaksanaan-content-underline1,
.laporan-pelaksanaan-content-underline2 {
    margin-top: 35px;
    justify-self: center;
    height: 5px;
    background-color: var(--indigo);
}

/*About Us-Lampiran*/

.attachments {
    position: relative;
    margin: 0 75px;
    background-color: var(--yellow);
    border-radius: 1.5rem;
    overflow: hidden;
    justify-content: center;
}

.image-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    position: relative;
}

.image-container::-webkit-scrollbar {
    width: 10px;
}

.image-container::-webkit-scrollbar-track {
    margin: 0 40px 0 15px;
    background: none;
}

.image-container::-webkit-scrollbar-thumb {
    background: var(--darkergreen);
    border-radius: 1.5rem;
}

.image-container::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.image-container img {
    width: auto;
    height: 250px;
    margin-right: 20px;
    display: inline-block;
    object-fit: cover;
    border-radius: 1.5rem;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
}

.attachmentPrev {
    left: 0;
}

.attachmentNext {
    right: 0;
}

/*About Us-Penutupan*/

.penutupan {
    margin: 15px;
    padding: 15px;
    background-color: var(--purple);
    border-radius: 1.5rem;
}

.penutupan-title {
    margin: 10px 0 20px 0;
    justify-self: center;
    font-size: 30px;
    color: var(--peach);
}

.penutupan-title-underline {
    margin: 15px 0 20px 0;
    width: 400px;
    max-width: 40vw;
    height: 5px;
    justify-self: center;
    background-color: var(--peach);
}

.kesimpulan-saran {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.kesimpulan,
.saran {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--yellow);
    border-radius: 1.5rem;
    color: var(--brown);
}

@media (max-width: 774px) {
    .kesimpulan-saran {
        display: block;
    }

    .saran {
        margin-top: 10px;
    }
}

.daftar-pustaka {
    padding: 15px 15px 50px 15px;
    background-color: var(--blue);
}

.daftar-pustaka h1,
.lampiran h1 {
    margin: 15px 0 30px 0;
    justify-self: center;
    font-size: 30px;
    color: var(--peach);
}

.daftar-pustaka li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: var(--darkergreen);
    border-radius: 1.5rem;
    list-style: none;
    color: var(--peach);
}

.lampiran {
    padding: 15px;
    background-color: var(--orange);
}

.lampiran-wrapper1,
.lampiran-wrapper2 {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-items: stretch;
    gap: 20px;
}

.lampiran-item {
    padding: 15px;
    background-color: var(--peach);
    border-radius: 1.5rem;
    color: var(--brown);
}

/*Footer*/

footer {
    background-color: var(--red);
    color: var(--peach)
}

.footer {
    padding-top: 10px;
    text-align: center;
}

.socials {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--peach);
}

.social-portal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social-portal a {
    background-color: var(--peach);
    padding: 5px 8.5px 5px 8.5px;
    border-radius: 1.5rem;
    text-decoration: none;
    color: var(--green);
}

.social-portal a i {
    background-color: var(--peach);
    width: 15px;
    height: 15px;
    border-radius: 1.5rem;
    text-decoration: none;
    color: var(--green);
}

.social-portal a #youtube {
    transform: translateX(-1px);
}